.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}

/* Общий стиль для списка flash сообщений */
ul.flashes {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Стили для элементов списка flash сообщений */
ul.flashes li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
}

/* Стиль для категории error */
ul.flashes li.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Стиль для категории info */
ul.flashes li.info {
  background-color: #cce5ff;
  color: #004085;
  border: 1px solid #b8daff;
}


.download_list {
  text-align: center;
}




